.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
.prettierrc
.eslintrc.json
tsconfig.json
*.vsix
*.map
node_modules/**
**/*.map
**/.DS_Store
**/Thumbs.db
README.md
CHANGELOG.md
LICENSE
.github/**
*.md
